@import url("http://fonts.googleapis.com/css?family=Roboto");
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes logo-bob {
  0% {
    margin-top: 0;
    margin-bottom: 4px; }
  50% {
    margin-top: 4px;
    margin-bottom: 0; }
  100% {
    margin-top: 0;
    margin-bottom: 4px; } }

@keyframes logo-swim {
  0% {
    margin-left: -25%;
    transform: scaleX(1); }
  45% {
    margin-left: 20%;
    transform: scaleX(1); }
  50% {
    margin-left: 25%;
    transform: scaleX(-1); }
  95% {
    margin-left: -20%;
    transform: scaleX(-1); }
  100% {
    margin-left: -25%;
    transform: scaleX(1); } }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0;
  color: #555;
  text-align: center; }

h1, h2, h3, h4, h5 {
  line-height: 120%;
  padding: 10px; }

.card {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.lightbox {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.5);
  z-index: 999;
  overflow: hidden; }

.modal {
  position: absolute;
  background-color: #e0e0e0;
  padding: 20px;
  z-index: 1000;
  top: 100px;
  left: 50%;
  width: 200px;
  margin-left: -120px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.6), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.6), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.6), 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  display: table-cell;
  vertical-align: middle; }
  .modal .spinner {
    animation: spin infinite 5s linear;
    height: 80px; }

.logo {
  animation: logo-bob infinite 1s linear, logo-swim infinite 10s ease;
  height: 60px; }

.header {
  background-color: #3f51b5;
  background-size: cover;
  color: #fff;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15); }
  .header h1 {
    padding-top: 0px; }

.fish-shop {
  max-width: 960px;
  min-height: 1000px;
  margin: 0 auto; }

.your-tank {
  padding: 0 30px 20px;
  max-width: 840px; }

.tank {
  min-height: 245px;
  margin: 0 auto;
  padding: 5px;
  background-color: #3f51b5;
  background-image: url("../img/bg_coral.jpg");
  background-size: cover;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .tank .fish-card {
    width: auto; }

.info-card {
  max-width: 600px;
  margin-bottom: 5px; }
  .info-card .default {
    color: #555; }
  .info-card .green {
    color: #464; }
  .info-card .red {
    color: #c11; }

.fish-card, button {
  background-color: #f9f9f9;
  text-transform: capitalize;
  cursor: pointer;
  margin: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  transition: background-color .3s, box-shadow .3s;
  width: 190px;
  display: inline-block;
  list-style-type: none; }
  .fish-card:hover, button:hover {
    background-color: white;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.15); }
  .fish-card:active, button:active {
    background-color: #fafafa; }
  .fish-card.selected, button.selected {
    background-color: #42c0fb;
    color: #3c3c3c; }
  .fish-card.selected:hover, button.selected:hover {
    background-color: #74d1fc; }
  .fish-card.selected:active, button.selected:active {
    background-color: #5bc8fc; }
  .fish-card.hide, button.hide {
    display: none; }
  .fish-card .fake, button .fake {
    color: #c11; }

button {
  border: none;
  color: #555;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  padding: 10px 20px; }

.btn-buy {
  background-color: #5fcd5f; }
  .btn-buy:hover {
    background-color: #86d986; }
  .btn-buy:active {
    background-color: #72d372; }

.btn-buy:disabled, button[disabled],
.btn-buy:disabled:hover, button[disabled]:hover,
.btn-buy:disabled:active, button[disabled]:active {
  color: #555;
  background-color: #ccc;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: default; }

input {
  border: none;
  padding: 5px 10px;
  border-bottom: 2px solid #e0e0e0;
  background: transparent;
  font-size: 1rem;
  color: #555;
  font-weight: bold;
  display: inline-block;
  width: 190px;
  margin: 10px auto;
  line-height: 1.2;
  text-align: center; }

input:focus {
  outline: none;
  border-bottom: 2px solid #42c0fb; }

.filterClear, .filterClear:hover, .filterClear:active {
  display: inline-block;
  background: transparent;
  box-shadow: none;
  margin: 0 0 0 -1.5rem;
  padding: 0.5rem; }
  .filterClear:hover, .filterClear:focus, .filterClear:hover:hover, .filterClear:hover:focus, .filterClear:active:hover, .filterClear:active:focus {
    outline: none;
    box-shadow: none;
    color: #42c0fb; }
  .filterClear:active, .filterClear:hover:active, .filterClear:active:active {
    box-shadow: none;
    color: #29b8fa; }
