@import url('http://fonts.googleapis.com/css?family=Roboto');

$bg: #e0e0e0;
$card-bg: #f9f9f9;
$header-bg: #3f51b5;
$highlight: #42c0fb;
$buy-color: #5fcd5f;

$font-color: #555;
$font-good: #464;
$font-bad: #c11;

$radius: 2px;
$shadow-default: 0 2px 2px 0 rgba(0,0,0,0.15), 0 1px 5px 0 rgba(0,0,0,0.1);
$shadow-hover: 0 3px 3px 0 rgba(0,0,0,0.3), 0 2px 10px 0 rgba(0,0,0,0.15);
$shadow-raised: 0 6px 6px 0 rgba(0,0,0,0.6), 0 4px 20px 0 rgba(0,0,0,0.3);

@mixin border-radius {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin shadow($shadow-level) {
	-webkit-box-shadow: $shadow-level;
		 -moz-box-shadow: $shadow-level;
					box-shadow: $shadow-level;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes logo-bob {
	0% { margin-top:0; margin-bottom: 4px; }
	50% { margin-top:4px; margin-bottom: 0; }
	100% { margin-top:0; margin-bottom: 4px; }
}
@keyframes logo-swim {
	0% { margin-left:-25%; transform: scaleX(1); }
	45% { margin-left:20%; transform: scaleX(1); }
	50% { margin-left:25%; transform: scaleX(-1); }
	95% { margin-left:-20%; transform: scaleX(-1); }
	100% { margin-left:-25%; transform: scaleX(1); }
}

* { padding:0; margin:0; }

body {
	font-family: 'Roboto', sans-serif;
  background-color: $bg;
	color: $font-color;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	line-height: 120%;
	padding:10px;
}

.card {
	background-color: $card-bg;
	padding: 10px;
	margin: 10px auto;
	@include shadow($shadow-default);
	@include border-radius;
}

.lightbox {
	position: fixed;
	display: block;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(55,55,55,.5);
	z-index: 999;
	overflow: hidden;
}

.modal {
	position: absolute;
	background-color: $bg;
	padding: 20px;
	z-index: 1000;
	top:100px;
	left:50%;
	width:200px;
	margin-left:-120px;
	@include border-radius;
	@include shadow($shadow-raised);
	display: table-cell;
	vertical-align: middle;

	.spinner {
		animation: spin infinite 5s linear;
		height: 80px;
	}
}

.logo {
	animation: logo-bob infinite 1s linear, logo-swim infinite 10s ease;
	height: 60px;
}

.header {
	background-color: $header-bg;
	background-size: cover;
	color: #fff;
	@include shadow($shadow-hover);

	h1 {
		padding-top:0px;
	}
}

.fish-shop {
  max-width: 960px;
  min-height: 1000px;
  margin: 0 auto;
}

.your-tank {
	padding: 0 30px 20px;
	max-width: 840px;
}

.tank {
	min-height: 245px;
	margin: 0 auto;
	padding: 5px;
	background-color: $header-bg;
	background-image: url('../img/bg_coral.jpg');
	background-size: cover;
	@include shadow($shadow-default);
	@include border-radius;

	.fish-card {
		width: auto;
	}
}

.info-card {
	max-width: 600px;
	margin-bottom: 5px;
	.default { color: $font-color; }
	.green { color: $font-good; }
	.red { color: $font-bad; }
}

.fish-card, button {
  background-color: $card-bg;
	text-transform: capitalize;
	cursor: pointer;
	margin: 5px;
	@include shadow($shadow-default);
	@include border-radius;
	transition: background-color .3s, box-shadow .3s;
	width: 190px;
	display: inline-block;
	list-style-type: none;

	&:hover {
		background-color: lighten($bg, 20%);
		@include shadow($shadow-hover);
	}
	&:active {
		background-color: lighten($bg, 10%);
	}
	&.selected {
		background-color: $highlight;
		color: darken($font-color, 10%);
	}
	&.selected:hover {
		background-color: lighten($highlight, 10%);
	}
	&.selected:active {
		background-color: lighten($highlight, 5%);
	}
	&.hide {
		display: none;
	}
	.fake {
		color: $font-bad;
	}
}

button {
	border: none;
	color: $font-color;
	width: auto;
	font-size: 1rem;
	font-weight: bold;
	margin: 10px;
	padding: 10px 20px;
}

.btn-buy {
	background-color: $buy-color;
	&:hover {
		background-color: lighten($buy-color, 10%);
	}
	&:active {
		background-color: lighten($buy-color, 5%);
	}
}
.btn-buy:disabled, button[disabled],
.btn-buy:disabled:hover, button[disabled]:hover,
.btn-buy:disabled:active, button[disabled]:active {
	color: $font-color;
	background-color: #ccc;
	@include shadow($shadow-default);
	cursor: default;
}

input {
	border: none;
	padding: 5px 10px;
	border-bottom: 2px solid $bg;
	background: transparent;
	font-size: 1rem;
	color: $font-color;
	font-weight: bold;
	display: inline-block;
	width: 190px;
	margin: 10px auto;
	line-height: 1.2;
	text-align: center;
}
input:focus {
	outline:none;
	border-bottom: 2px solid $highlight;
}
.filterClear, .filterClear:hover, .filterClear:active {
	display: inline-block;
	background: transparent;
	box-shadow: none;
	margin: 0 0 0 -1.5rem;
  padding: 0.5rem;
  &:hover, &:focus {
  	outline: none;
  	box-shadow: none;
  	color: $highlight;
  }
  &:active {
  	box-shadow: none;
  	color: darken($highlight, 5%);
  }
}